@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Didact+Gothic:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: all .5s ease-in-out;
    padding: 44px 16px;
    font-family: 'Didact Gothic', sans-serif;
  
}
.navigation .logo{
    float: left
}
.navigation .navigation-menu{
    float: right;
    list-style: none;
}
.navigation .navigation-menu > li{
    float: left;
    display: block;
    position: relative;
}

.navigation .navigation-menu > li > a{
    display: block;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #FFF5F5;
    padding: 2px 10px;
    transition: all .3s ease;
   
}
.services .item .con {
    margin: -75px 20px 80px;
    padding: 20px 30px;
    background-color: #fff !important;
    border-top: none;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .05);
    border-radius: 0;
    overflow: hidden;
    -webkit-transition: .2s cubic-bezier(.3, .58, .55, 1);
    transition: .2s cubic-bezier(.3, .58, .55, 1);
    bottom: -35px;
    position: relative;
}
